body{
    margin: 0;
  }
  
  nav{
    height: 60.8px;
    width: 1600px;
    background-color: #ff0000;
    margin: 0;
    
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    width: 1000px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: color 0.5s;
  }
  #bild{
    width: 100px;
  }
  nav ul li a:hover {
    transition: 0.5s;
  }
  
  nav ul li a:after {
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -22px;
    height: 7px;
    background-color: white;
    opacity: 0;
    transition-delay: 0.05s;
  }
  
  nav ul li a:hover:after {
    opacity: 1;
  }
  .social{
    justify-content: flex-end;
    flex-direction: row;
  }